body {
    background-color: rgb(17, 17, 17);
    font-family: poppins, dm serif display;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background-image: url('../images/bg-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1560px;
    width: 720px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.30);
}

.top {
    padding-top: 80px;
    height: 250px;
}
.lvalogo {
    width: 100px;
}

.mid {
    flex: 1;
}
.living {
    font-family: dm serif display;
    color: white;
    font-size: 148px;
    position: relative;
}
.luxury {
    font-family: poppins;
    font-weight: bold;
    font-size: 32px;
    position: absolute;
    right: 62px;
    top: 38px;
}
